# PHP
alias phpunit="vendor/bin/phpunit"
alias phpunitw="phpunit-watcher watch"
alias a="php artisan"
alias cu="composer update"
alias cr="composer require"
alias crm="composer remove"
alias canvas="composer exec canvas"
alias cfresh="rm -rf vendor/ composer.lock && composer i"
alias cda="composer dump-autoload -o"
alias hostfile="sudo nano /etc/hosts"
alias mfs="php artisan migrate:fresh --seed"
alias p="vendor/bin/pest"
alias pf="vendor/bin/pest --filter "
alias sshconfig="nano ~/.ssh/config"
alias copyssh="pbcopy < $HOME/.ssh/id_ed255519.pub"

# Composer Unlimited Memory Commands...
alias cru="COMPOSER_MEMORY_LIMIT=-1 composer require"
alias cuu="COMPOSER_MEMORY_LIMIT=-1 composer update"
alias crmu="COMPOSER_MEMORY_LIMIT=-1 composer remove"

# Git
alias gc="git checkout"
alias gp="git pull"
alias gpo="git push origin"
alias gm="git merge"

# Fast open
alias o="open ."

# List all files colorized in long format
alias l="ls -laF"

# PhpStorm
alias phpstorm='open -a /Applications/PhpStorm.app "`pwd`"'

# PHP
alias switch-php81="brew unlink php@8.0 && brew link --overwrite --force php"
alias switch-php80="brew unlink php && brew link --overwrite --force php@8.0"

# Redis
alias flush-redis="redis-cli FLUSHALL"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# Networking
alias ip="curl https://diagnostic.opendns.com/myip ; echo"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"
alias macaddress="ifconfig en0 | grep ether | awk '{print $2}'"
alias hardware-macaddress="networksetup -listallhardwareports | awk -v RS= '/en0/{print $NF}'"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Enable aliases to be sudo'ed
alias sudo='sudo '

# Shortcuts
alias c="clear"

# JavaScript
alias watch="npm run watch"
alias nfresh="rm -rf node_modules/ package-lock.json && npm install"

# SSH Aliases
alias ssh-randallwilk="ssh forge@157.230.216.192"
alias ssh-rite="ssh forge@137.184.159.184"
alias ssh-cybrix="ssh forge@157.245.80.104"
alias ssh-mha="ssh forge@165.227.198.189"
alias ssh-hamptonbays="ssh forge@161.35.121.245"
alias ssh-arch="ssh forge@157.245.138.236"

# Directory Switching
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias home="cd ~"
alias personal="cd ~/dev/code/personal"
alias work="cd ~/dev/code/work"
alias packages="cd ~/dev/code/packages"

# macOS stuff
alias noopenboot="nvram AutoBoot=%00" # disable boot when macbook is opened
alias allowopenboot="nvram AutoBoot=%03" # allow boot when macbook is opened
alias bluetooth="sudo pkill bluetoothd"
alias afk="osascript -e 'tell application \"System Events\" to keystroke \"q\" using {command down,control down}'"
alias reload-shell=". ~/.dotfiles/shell/.zshrc"

# Script aliases
alias startwork="~/.dotfiles/work.sh"
