# PHP
alias phpunit="vendor/bin/phpunit"
alias phpunitw="phpunit-watcher watch"
alias a="php artisan"
alias cu="composer update"
alias cr="composer require"
alias cda="composer dump-autoload -o"
alias hostfile="sudo nano /etc/hosts"
alias mfs="php artisan migrate:fresh --seed"
alias p="phpunit"
alias pf="phpunit --filter "
alias sshconfig="nano ~/.ssh/config"
alias copyssh="pbcopy < $HOME/.ssh/id_rsa.pub"

# Git
alias gc="git checkout"
alias gp="git pull"
alias gpo="git push origin"
alias gm="git merge"

# Fast open
alias o="open ."

# List all files colorized in long format
alias l="ls -laF"

# PhpStorm
alias phpstorm='open -a /Applications/PhpStorm.app "`pwd`"'

# Redis
alias flush-redis="redis-cli FLUSHALL"

# Show/hide hidden files in Finder
alias show="defaults write com.apple.finder AppleShowAllFiles -bool true && killall Finder"
alias hide="defaults write com.apple.finder AppleShowAllFiles -bool false && killall Finder"

# IP Addresses
alias ip="curl https://diagnostic.opendns.com/myip ; echo"
alias localip="ifconfig -a | grep -o 'inet6\? \(addr:\)\?\s\?\(\(\([0-9]\+\.\)\{3\}[0-9]\+\)\|[a-fA-F0-9:]\+\)' | awk '{ sub(/inet6? (addr:)? ?/, \"\"); print }'"

# Flush Directory Service cache
alias flushdns="sudo dscacheutil -flushcache; sudo killall -HUP mDNSResponder"

# Empty the Trash on all mounted volumes and the main HDD
# Also, clear Apple’s System Logs to improve shell startup speed
alias emptytrash="sudo rm -rfv /Volumes/*/.Trashes; sudo rm -rfv ~/.Trash; sudo rm -rfv /private/var/log/asl/*.asl"

# Enable aliases to be sudo'ed
alias sudo='sudo '

# Shortcuts
alias c="clear"

# JavaScript
alias watch="npm run watch"

# SSH Aliases
alias ssh-randallwilk="ssh forge@192.241.139.122"
alias ssh-rite="ssh forge@192.241.154.199"
alias ssh-cybrix="ssh forge@157.245.80.104"

# Directory Switching
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias home="cd ~"
alias personal="cd ~/dev/code/personal"
alias work="cd ~/dev/code/work"
alias packages="cd ~/dev/code/packages"

# Script aliases
alias startwork="~/.dotfiles/work.sh"