# Create a new directory and enter it
mkd() {
  mkdir -p "$@" && cd "$@"
}

# All the dig info
digga() {
  dig +nocmd "$1" any +multiline +noall +answer
}

# Shortcut for zhs quick-look command
ql() {
  quick-look "$1"
}

archive() {
  zip -r "$1".zip -i "$1" ;
}

generateSecret() {
  # Default to 32 bytes
  local bytes="${1:-32}"

  head -c "$bytes" /dev/urandom | xxd -p -c 256 | tr -d '\n'
  echo
}

removehost() {
   ssh-keygen -R "$1"
}

#  Commit everything
commit() {
  local commitMessage="$1"

  if [ "$commitMessage" = "" ]; then
     commitMessage="wip"
  fi

  git add .
  eval "git commit -a -m '${commitMessage}'"
}

# Composer functions

# Require a local version of a package. Will default to look for package in our ~/dev/code/packages/ directory.
# Example usage: composerLocal laravel-form-components
# Example usage with custom directory: composerLocal laravel-form-components "./packages/laravel-form-components"
composerLocal() {
  local URL="${2:-~/dev/code/packages/${1}}"

  composer config repositories."$1" '{"type": "path", "url": "'"${URL}"'", "options": {"symlink": true}}' --file composer.json
}

# Require the remote (packagist) version of a package.
# Example usage: composerRemote laravel-form-components
composerRemote() {
  composer config repositories."$1" --unset
}

composerVcs() {
  composer config repositories."$1" '{"type": "vcs", "url": "'"${2}"'"}' --file composer.json
}
